:root {
  --color-neutral-50: #fefefe;
  --color-neutral-500: #cecdcf;
  --color-neutral-600: #8e8992;
  --color-neutral-900: #2f3130;

  --color-violet-100: #cecdcf;

  --color-warm-100: #fdfbc9;

  --color-mustard-100: #d6f51d;

  --font-size-h1: 3rem;

  --radius-input: 12px;

  --shadow-input: 4px 4px 0px 0px var(--color-neutral-900);
}
