:root {
  --color-neutral-0: #ffffff;
  --color-neutral-50: #fefefe;
  --color-neutral-100: #f9f6fc;
  --color-neutral-300: #ebe7ef;
  --color-neutral-500: #cecdcf;
  --color-neutral-600: #8e8992;
  --color-neutral-900: #2f3130;

  --color-warm-100: #fdfbc9;
  --color-warm-200: #f1f0de;

  --color-mustard-100: #d6f51d;
  --color-mustard-300: #c8e01d;
  --color-mustard-500: #97af0c;

  --color-pink-300: #f2a1c3;
  --color-pink-500: #f5668c;
  --color-pink-700: #d73194;

  --color-red-500: #f2475a;

  --color-blue-500: #352d69;

  --shadow-1: 2px 2px 0px 0px var(--color-neutral-900);
  --shadow-2: 4px 4px 0px 0px var(--color-neutral-900);
}

// warm-200, blue-500, red-500 未錄入
